<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Battery Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Battery Status</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
       <ion-title>Phone Status : {{photoStatus}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>Battery Status : {{batteryPercentage}}</ion-title>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
